/* Ajustes específicos para o modo escuro */
body.dark {
  --warm-white: #1c1c1a;
  --cream: #252522;
  --charcoal: #f7f4ee;
  --muted: #a0a09a;
  --label-color: rgb(0, 0, 0);
}

body.dark .hero-deco {
  background-image: repeating-linear-gradient(
    45deg,
    var(--fixed-light) 0,
    var(--fixed-light) 1px,
    transparent 0%,
    transparent 50%
  );
  background-size: 24px 24px;
}

body.dark nav { background: #252522; }
body.dark footer { background: #252522; }
body.dark .hero-visual { background: #3f3f3f; }
body.dark .footer-logo { color: #fafaf7; }
/*body.dark .nav-logo span { color: blue; } */
body.dark .btn-primary { color: var(--fixed-dark); }
body.dark #theme-toggle:hover { background: rgba(250,250,247,0.1); }
body.dark .hero-card { border-color: transparent; background: var(--fixed-light); } 
body.dark .hero-stat-block { background: var(--cream);}
body.dark .hero-stat .label { color: var(--fixed-light); }

/* TEMA ESCURO */
#theme-toggle {
  background: transparent;
  border: 0.5px solid var(--border);
  border-radius: 2px;
  width: 36px;
  height: 36px;
  cursor: pointer;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition:
    border-color 0.2s,
    background 0.2s;
  color: var(--charcoal);
  border-color: var(--charcoal);
}

#theme-toggle:hover {
  background: var(--bone);
}